<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".food"
            android:label="@string/foodTitle"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity
            android:name=".interesting_places"
            android:label="@string/placeTitle"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity
            android:name=".park"
            android:label="@string/parkTitle"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity
            android:name=".race"
            android:label="@string/religionTitle"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity android:name=".List_Item" />
        <activity
            android:name=".FoodDetail"
            android:label="@string/foodDetail"
            android:parentActivityName=".food">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.food" />
        </activity>
        <activity android:name=".placeDetail"
            android:label="@string/placesDetails"
            android:parentActivityName=".interesting_places">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.interesting_places" />
            </activity>

        <activity android:name=".parkDetail"
            android:label = "@string/parkDetails"
            android:parentActivityName=".park">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.park" />
        </activity>

        <activity android:name=".raceDetails"
            android:label="@string/raceDetails"
            android:parentActivityName=".race">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.race" />
        </activity>
    </application>

</manifest>